@charset "UTF-8"; /* isso aqui ':' abri e issu aqui ';' fecha */

:root {

    --cor1: #262626;
    --cor2: #535353;
    --cor3: #FFFFFF;
    --cor4: #CCCCCC;
    --cor5: #1b1a1aa9;
    
    --cor6: #CCD5D9;
    --cor7: #4B593E;
    --cor8: #7E8C68;
    --fonte-letra: 'Helvetica', 'sans-serif';
}
*{
    margin: 0px;
    padding: 0px;
}

body {
    background-color: var(--cor1);
}

header {

    width: 100%; /* A largura do header será 100% da tela */
}

nav {
    margin-top: 20px; /* Espaçamento acima do <nav> */
    margin-left: auto;
    margin-right: auto;
    max-width: 600px;
    height: 50px; /* Ajuste a altura conforme necessário */
    text-align: center;
    font-family: helvetica, sans-serif;
    font-weight: bold;
    background-color: var(--cor4);
    
    display: flex; /* Usando flexbox */
    justify-content: center; /* Centraliza o conteúdo horizontalmente */
    align-items: center; /* Centraliza o conteúdo verticalmente */
    padding: 0; /* Remove o padding */
}



nav > a {
    display: block; /* Faz o link ocupar toda a largura e altura do <nav> */
    width: 100%; /* Ocupa toda a largura do <nav> */
    height: 100%; /* Ocupa toda a altura do <nav> */
    color: var(--cor1);
    text-decoration: none;
    text-align: center; /* Centraliza o texto horizontalmente */
    line-height: 50px; /* Alinha o texto verticalmente, baseado na altura do nav */
    padding: 0; /* Remove o padding */
    border-right: 1px solid var(--cor1); /* Linha separadora na direita */

}

nav > a:last-child {
    border-right: none;
}

nav > a:hover {
    background-color: var(--cor2); /* Cor de fundo ao passar o mouse */
    color: #ffffff;
    transition: .5s;
}

header > section {
    background-color: var(--cor5);
    margin-top: 25px;
    height: 695px;
    padding: 20px 0px 10px 0px
}

header > section > picture > img {
    width: 100%;
    height: 100%;
    
}




main {
    margin-top: 300px;
    padding: 0px;
    background-color: white;
    width: 100%;
    height: 750px;
    
}

main > h1 {
    font-family: var(--fonte-letra);
    font-size: 3.625rem;
    text-align: center;
    color: #222222;
}

main > h2 {
    text-align: center;
    font-family: var(--fonte-letra);
    color: var(--cor2);
}



main > h2 em {
    color: var(--cor2);
}

/* Contêiner do slider */
.slider {
    width: 562px; /* Largura do slider */
    height: 480px; /* Altura do slider */
    overflow: hidden; /* Esconde o que está fora do contêiner */
    position: relative;
    margin-left: 200px;
    margin-top: 100px;
    float: left; /* Faz o slider flutuar à esquerda */
}








/* Imagens dentro do slider */
.slider img {
    width: 100%;
    height: 100%;
    position: absolute;
    opacity: 0;
    animation: fade 9s infinite;
}

/* Atrasos para cada imagem */
.slider img:nth-child(1) {
    animation-delay: 0s; /* Primeira imagem começa imediatamente */
}
.slider img:nth-child(2) {
    animation-delay: 3s; /* Segunda imagem começa após 3 segundos */
}
.slider img:nth-child(3) {
    animation-delay: 6s; /* Terceira imagem começa após 6 segundos */
}

/* Animação de fade */
@keyframes fade {
    0%, 33.33% { 
        opacity: 1; /* A primeira imagem vai de 0 a 1 */
    }
    33.34%, 66.66% { 
        opacity: 0; /* A primeira imagem vai de 1 a 0 */
    }
    66.67%, 100% {
        opacity: 1; /* A segunda e terceira imagem vai de 0 a 1 */
    }
}


main > section {
    display: inline-block;
    margin-top:  40px;
    width: 300px;
    text-align: justify;
    text-align: center;
}   

main > section p:first-child {
    margin-top: 60px;
}

main > section p {
    font-family: var(--fonte-letra);
    color: var(--cor2);
    font-size: 13px;
    margin-left: 30px;
}

main > section > p > strong {
    color: rgba(0, 0, 0, 0.603);
}

