@charset "UTF-8";

:root {
    --cor1: #141A26;
    --cor2: #0F3759;
    --cor3: #1B3C59;
    --cor4: #8C6A56;
    --cor5: #594540;
    --cor6: #303030;
    --cor7: #E90313;
    --cor8: #424242;
    --cor9: #999999;

    --fonte1:  'Montserrat';
}

*{
    padding: 0px;
    margin: 0px;
}

body{
    background-color: var(--cor6);
}


main > div {

    margin-top: 20px; /* Espaçamento acima do <nav> */
    margin-left: auto;
    margin-right: auto;
    
    height: 50px; /* Ajuste a altura conforme necessário */
    text-align: center;
    font-family: 'Montserrat';
    background-color: var(--cor8);
    
    display: flex; /* Usando flexbox */
    justify-content: center; /* Centraliza o conteúdo horizontalmente */
    align-items: stretch; /* Centraliza o conteúdo verticalmente */

}
main > div > a {

    display: flex;
    align-items: center;
    height: 100%; /* Ocupa toda a altura do <nav> */
    color: white;
    text-decoration: none;
    text-align: center; /* Centraliza o texto horizontalmente */
    line-height: 50px; /* Alinha o texto verticalmente, baseado na altura do nav */
    padding-right: 15px;
    padding-left: 15px;
    border-right: 2px solid var(--cor1);
    
}
main > div > a:hover {
    background-color: var(--cor3);
    text-decoration: underline;
    
  
}
main > section{
    background-color: var(--cor1);
    padding: 20px;

}

nav{
    margin-top: 20px; /* Espaçamento acima do <nav> */
    margin-left: auto;
    margin-right: auto;
    
    height: 50px; /* Ajuste a altura conforme necessário */
    text-align: center;
    font-family: 'Montserrat';
    background-color: var(--cor8);
    
    display: flex; /* Usando flexbox */
    justify-content: center; /* Centraliza o conteúdo horizontalmente */
    align-items: stretch; /* Centraliza o conteúdo verticalmente */
}
nav > a{
    padding: 20px;
    text-decoration: none;
    color: white;

}
nav > a:hover{
    transition: .5s;
    background-color:var(--cor3); 
    border-radius: 10px;

}

header{

}


footer {
    display: flex;
    align-items: center;
    justify-content: left;
    background-color: var(--cor8); 
    padding: 15px;
}

footer > a > img {
    height: 30px; 
    margin-right: 10px; 
}

footer > a {
    color: white;
    text-decoration: none;
    font-family: var(--fonte1); 
    
}

footer > a:hover {
    text-decoration: underline;
}